/* estilos generales */
.fecha {
      margin-top: 5px;
      width: 100%;
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

/* captura de informacion captura */
.divisor-captura {
      width: 100%;
      display: flex;
      flex-direction: column;
}

.captura-codigo {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: left;
}

.campo2 {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 40px;
      justify-content: space-around;
}

#txtCodigo {
      width: 50%;
      height: 30px;
      border: 1px solid black;
}

#btnAgregar {
      width: 20%;
      height: 30px;
      background-color: white;
      border: 1px solid black;
}

.divRegistro {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

.divHoras {
      display: flex;
      flex-direction: column;
      width: 10%;
      height: 100px;
      background-color: white;
      border: 1px solid black;
      align-items: center;
      text-align: center;
}

.divInformacion {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 100px;
      background-color: white;
      border: 1px solid black;
      align-items: center;
}

.btnGuardar {
      width: 15%;
      height: 100px;
      background-color: white;
      border: 1px solid black;
}

/* captura de informacion editar */
.divisor-editar {
      width: 100%;
      display: flex;
      flex-direction: column;
}

#txtNumReloj {
      width: 70%;
      height: 30px;
      border: 1px solid black;
      justify-content: left;
}

#btnBuscar {
      width: 15%;
      height: 30px;
      background-color: white;
      border: 1px solid black;
}

.captura-empleado {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: left;
}

#txtNom {
      width: 80%;
      height: 30px;
      border: 1px solid black;
      justify-content: left;
}

@media only screen and (max-width: 1024px) {
      .semanas {
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      .semana {
            width: 30%;
            margin-top: 10px;
      }

      .btnSemanas {
            width: 100%;
            font-size: 10px;
      }

      .fecha {
            margin-top: 80px;
            font-size: 12px;
      }

      .campo2 {
            flex-direction: column;
            align-items: center;
      }

      #txtCodigo {
            margin-top: 10px;
            font-size: 12px;
            height: 20px;
      }

      #btnAgregar {
            width: 50%;
            height: 20px;
            margin-top: 10px;
            font-size: 12px;
      }

      #registrosSemana {
            margin-top: 50px;
      }

      .divRegistro {
            flex-direction: column;
            align-items: center;
      }

      .divHoras {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 50px;
            background-color: white;
            border: 1px solid black;
            align-items: center;
            text-align: center;
      }

      .divInformacion {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 150px;
            background-color: white;
            border: 1px solid black;
            align-items: center;
            text-align: center;
      }

      .btnGuardar {
            margin-top: 5px;
            width: 80%;
            height: 30px;
            background-color: white;
            border: 1px solid black;
      }

      /* captura de informacion editar */
      .divisor-editar {
            width: 100%;
            display: flex;
            flex-direction: column;
      }

      #txtNumReloj {
            width: 80%;
            height: 20px;
            border: 1px solid black;
            justify-content: left;
            font-size: 12px;
      }

      #btnBuscar {
            margin-top: 10px;
            font-size: 12px;
            width: 80%;
            height: 30px;
            background-color: white;
            border: 1px solid black;
      }

      .informacion-empleado {
            width: 100%;
            height: 40px;
            display: flex;
      }

      #txtNom {
            margin-top: 30px;
            width: 80%;
            height: 20px;
            font-size: 12px;
            border: 1px solid black;
            justify-content: left;
      }
}